<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Réinitialisation de mot de passe</title>
</head>
<body>
    <h1>Réinitialisation de mot de passe</h1>
    <p>Bonjour {{ username }},</p>
    <p>Vous avez demandé une réinitialisation de mot de passe. Cliquez sur le lien ci-dessous :</p>
    <p><a href="{{ reset_url }}">Réinitialiser mon mot de passe</a></p>
    <p>Si le lien ne fonctionne pas, copiez et collez l'URL suivante dans votre navigateur :</p>
    <p>{{ reset_url }}</p>
    <p>Ce lien expirera dans 1 heure.</p>
    <p>Si vous n'avez pas demandé cette réinitialisation, ignorez simplement cet email.</p>
    <p>Cordialement,<br>L'équipe</p>
</body>
</html>
